################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HTML cleanup/HTMLCleanup/bin/Debug
/HTML cleanup/HTMLCleanup/obj/x86
/HTML cleanup/HTMLCleanup/packages
/HTML cleanup/HTMLCleanup/.vs
/HTML cleanup/HTMLCleanupTests/bin/Debug
/HTML cleanup/HTMLCleanupTests/obj/Debug
/packages
/PdfService/bin
/PdfService/obj
/PdfService/Properties/PublishProfiles/pdfsrvc - Web Deploy.pubxml.user
/PdfService/Properties/PublishProfiles/pdfsrvc - Web Deploy.pubxml
/PdfService/Properties/PublishProfiles/pdfsrvc - FTP.pubxml.user
/PdfService/Properties/PublishProfiles/pdfsrvc - FTP.pubxml
/HTML cleanup/HTMLCleanup/obj
/HTML cleanup/HTMLCleanupTests/obj/Release
/HTML cleanup/HTMLCleanup/TestResults
/HTML cleanup/HTMLCleanupTests/TestFiles/remover_result.html
/HTML cleanup/HTMLCleanupDLL/bin/Debug
/HTML cleanup/HTMLCleanupDLL/obj/Debug
/HTML cleanup/HTMLCleanupDLL/bin/Release
/HTML cleanup/HTMLCleanupDLL/obj/Release
*.user
/PdfCreator/obj
/PdfCreator/bin/Debug/netcoreapp3.1
/CreatePDFFromStaticHtml/bin/Debug/netcoreapp2.1
/CreatePDFFromStaticHtml/obj
/PdfCreator/bin/Debug/netcoreapp2.1
/PdfCreator/dc-services-sdk-credentials.json
/PdfCreator/private.key
/PdfCreator/createPDFFromStaticHtmlInput.zip
/PdfCreator/bin/Release/netcoreapp2.1
/AdobeSdkService/Properties/PublishProfiles
/AdobeSdkService/obj
/AdobeSdkService/bin
/AdobeSdkService/private.key
/AdobeSdkService/dc-services-sdk-credentials.json
/PdfService/PdfCreator/private.key
/PdfService/PdfCreator/dc-services-sdk-credentials.json
/PdfService/Properties/PublishProfiles/pdfsrvc - ReadOnly - FTP.pubxml
/AdobeSdkService/bin
/AdobeSdkService/obj
/AdobeSdkService/Properties/PublishProfiles
/AdobeSdkService/private.key
/AdobeSdkService/dc-services-sdk-credentials.json
/PdfCreator/bin
/PdfCreator/obj
/PdfCreator/private.key
/PdfCreator/dc-services-sdk-credentials.json
/PdfService/PdfCreator/private.key
/PdfService/PdfCreator/dc-services-sdk-credentials.json
/PdfService/Properties/PublishProfiles
