################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HTML cleanup/HTMLCleanup/bin/Debug
/HTML cleanup/HTMLCleanup/obj/x86
/HTML cleanup/HTMLCleanup/packages
/HTML cleanup/HTMLCleanup/.vs
/HTML cleanup/HTMLCleanupTests/bin/Debug
/HTML cleanup/HTMLCleanupTests/obj/Debug
/packages
/PdfService/bin
/PdfService/obj
/PdfService/Properties/PublishProfiles/pdfsrvc - Web Deploy.pubxml.user
/PdfService/Properties/PublishProfiles/pdfsrvc - Web Deploy.pubxml
/PdfService/Properties/PublishProfiles/pdfsrvc - FTP.pubxml.user
/PdfService/Properties/PublishProfiles/pdfsrvc - FTP.pubxml
