@model EnterpriseServices.Controllers.PdfController.UrlToPdfData
@{
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary full-height">
	<div class="panel-body full-height">
		<div class="row full-height" style="margin: 16px;">
			<div class="container">
				@using (Html.BeginForm("UrlToPdf", "Pdf", FormMethod.Post, new { id = "UrlToPdf", @class = "form-signin" }))
				{
					<h2 class="form-signin-heading">URL</h2>
					<label for="url" class="sr-only">URL</label>
					<input id="Url" name="Url" class="form-control" placeholder="URL" required>
					<button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 16px;">Get PDF</button>
				}
			</div> <!-- /container -->
		</div>
	</div>
	@* Html.Partial("Tags") *@
</div>
@* ReSharper restore UnknownCssClass *@