@model EnterpriseServices.Controllers.PdfController.UrlToPdfData
@{
	Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

@* ReSharper disable UnknownCssClass *@
<div class="panel panel-primary">
	<div class="panel-body">
		<div class="row" style="margin: 16px;">
			<div class="container">
				@using (Html.BeginForm("UrlToPdf", "Pdf", FormMethod.Post, new { id = "UrlToPdf", @class = "form-url-input" }))
				{
					<label for="url" class="sr-only">URL</label>
					@Html.TextBoxFor(model => model.Url, new { id = "Url", name = "Url", @class = "form-control", placeholder = "URL", required = "required" })
					<button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 16px;">Get PDF</button>
				}
				@Html.Partial("_AdobeViewSDKDemo", Model)
			</div>
		</div>
	</div>
</div>
@* ReSharper restore UnknownCssClass *@