@* Advertising. *@
<div class="form-url-input">
	@*
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- Adaptive banner for Expenses -->
	<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-8470958084127593"
			data-ad-slot="9938371461"
			data-ad-format="auto"
			data-full-width-responsive="true"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
	*@
	<a href="https://dvmorozov.github.io/expenses/" target="_blank" rel="noopener">
		<img class="advertising"
			src="https://rationalcity.files.wordpress.com/2019/06/shapka_saita_no_domain.jpg" 
			alt="Free expense tracker" width="1600" height="250" />
	</a>
</div>
